*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #0052d0 !important;
}
.content-container{
 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card{
  width: 100%;
  color: white;
  padding: 10px;
  border-radius:  15px;
  box-shadow: 0px 11px 1px rgba(0, 0, 0, 0.05);
  
}

.city-time{
  display: flex;
  align-items: end;
  justify-content: start;
  
  margin-bottom: 10px;
}
.content{
  display: flex;
  justify-content: space-around;
}
.time{
  padding-right: 20px;
}
.temp{
  text-align: right;
}
.cloud-icon{
  
  color: #fff;
}
.min-max{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.translation-btn{
  
  width: 100%;
  display: flex;
  justify-content: end;
}


/* CISTOM FONTS */
@font-face{
  font-family: IBM;
  src: url("/public/fonts/IPM/IBMPlexSansArabic-Regular.ttf");
  font-weight: 500;
}
@font-face{
  font-family: IBM;
  src: url("/public/fonts/IPM/IBMPlexSansArabic-Light.ttf");
  font-weight: 400;
}
@font-face{
  font-family: IBM;
  src: url("/public/fonts/IPM/IBMPlexSansArabic-Medium.ttf");
  font-weight: 600;
}
@font-face{
  font-family: IBM;
  src: url("/public/fonts/IPM/IBMPlexSansArabic-Thin.ttf");
  font-weight: 100;
}